includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpat/phpat/extension.neon

parameters:
    level: 7
    paths:
        - src/
        - tests/
    tmpDir: var/phpstan
    ignoreErrors:
        -
            identifier: argument.named

services:
    -
        class: App\Tests\Architecture\HexagonalArchitectureTest
        tags:
            - phpat.test
