includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpat/phpat/extension.neon

parameters:
    level: 7
    paths:
        - src/
        - tests/
    tmpDir: var/phpstan
    ignoreErrors:
        -
            identifier: argument.named
    phpat:
        ignore_built_in_classes: true

services:
    -
        class: App\Tests\Architecture\Rule\ApplicationDependenciesTest
        tags:
            - phpat.test
    -
        class: App\Tests\Architecture\Rule\DomainDependenciesTest
        tags:
            - phpat.test
    -
        class: App\Tests\Architecture\Rule\InfrastructureDependenciesTest
        tags:
            - phpat.test
    -
        class: App\Tests\Architecture\Rule\SharedContractsDependenciesTest
        tags:
            - phpat.test
